.container 
{
  display: flex;
  min-height: 100vh;
  grid-gap: 20px;
  height: 100%; 
  margin: 8% 0px 0px 0px;    
}
  
.sidebar 
{
  width: 148px;
  background: #337ab7;
  padding: 8% 20px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  justify-content: space-between;
}
  
.sidebar ul
{
  list-style: none;
  margin: 0;
  padding: 16px 0 0 0;
}
  
.sidebar li 
{
  margin-bottom: 10px;
  cursor: pointer;
}
  
.sidebar a 
{
  text-decoration: none;
  /* color: #337ab7; */
  color: #ddd;
}
  
.sidebar li:hover 
{
  color: white;
  border-bottom: #ddd solid 1px; 
  
}

.sidebar button
{
  padding: 8px;
  color: black;
}

.dashboard_content
{
  /* width: 100%; */
  margin-left: 150px;
  /* padding: 8px; */
}
  
.content 
{
  padding: 0px;
  color: black;
  justify-content: start;
}

.content h4
{
  text-align: start;
  padding-left: 16px;
}

.summary_grid
{
  display: grid;
  grid-template-columns: repeat(4, 128px);
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 8px;
  background: transparent;
  padding: 8px 16px;
}
  
.summary_card
{
  background-color: #3aa1d1;
  color: aliceblue;
  padding: 8px 0px 8px 0px;
  border: 1px solid #ddd;
  border-radius: 2px; 
}
  
