/* HeaderContainer - Fixed Header with sticky behavior */
.HeaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #ffffff;
  color: #000000;
  padding: 0.25rem; /* Padding for the header */
  padding-right: 32px;
  z-index: 10;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

/* When scrolling down, reduce header height */
.HeaderContainer.shrink {
  padding: 0.5rem 0.1rem; /* Shrink padding */
  padding-right: 32px;

  height: 60px;  /* Reduced height on scroll */
  background: #ffffffee;
  transition: all 0.5s ease;
}

/* Logo Styling */
.HeaderTitle-Logo {
  width: 248px;
  height: 64px; /* Keep the original height for the logo */
  /* background-color: #444; */
}

.HeaderTitle-Logo img 
{
  width: 247px;
  height: auto;
  transition: height 0.3s ease;
}

/* Search Group */
.search-group {
  display: flex;
  position: relative;
}

.search-group input {
  padding: 10px 86px;
  width: 256px;
  height: 36px;
  border-radius: 25px;
  border: 1px solid #222222;
}

.search-group select {
  background: #aaaaaa;
  width: 64px;
  height: 32px;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  z-index: 1;
}

.search-group button {
  background: #aaaaaa;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
}

.search-group button:hover {
  background: #dadada;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

/* Navigation Styling */
.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  gap: 4vw;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 8px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.nav-item:hover {
  background-color: #e0e0e0;
}

.profile 
{ 
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  width: max-content;

  margin-left: 8px;
  padding: 4px;
  padding-right: 16px;
  background-color: #ececec;
  border-radius: 25px;
  
  gap: 8px;
 
}

/* User Profile Button */
.userIcon {  
  width: 45px;
  height: 45px;
  border-radius: 50px;

}

.userIcon .icn
{
  background: #9e9e9e42;
  border-radius: 25px;
  border: solid black 1px;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 4px;
  
}

.userIcon img {
  border-radius: 50%;
  width: 43px;
  height: 43px;
}

.profile .nameNemail
{
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.profile small
{
  font-size: 10px;
  color: rgb(70, 70, 70);
  font-weight: normal;
}

.nav-item .signOut {
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  background: #242424;
  color: #fff;
  padding: 2px 8px;
  border-radius: 25px;
  display: none;
}

.nav-item:hover .signOut {
  display: inline-block;
}

/* Link Styling */
.nav-link {
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.nav-link#dashboard
{
  width: max-content;
  margin-right: 16px;
}

.nav-link:hover {
  color: #555;
  font-weight: 600;
}

/* Dropdown for Profile */
.nav-link span {
  text-align: start;
  margin-left: 8px;
}

/* User Profile: Name and email */
.nav-item#profile span {
  font-size: 14px;
  font-weight: 600;
}
