.HeaderContainer
{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 86px;
  background-color: #d9d9d965;
  color: #000000;
  margin: 0px;
  padding: 0rem 0.8rem 0.1rem 0rem;
  text-align: start;
  z-index: 10;
}
.HeaderTitle-Logo
{  
  margin: 0;
  padding: 0;
  width: 256px;
  height: 86px;
  background: url('../assets/logo.png');
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #444;
}
.HeaderTitle label
{
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.userBtn
{
  background-color: #c9c9c9;
  /* margin-right: 50%;
  margin-top: 10%; */
  border-radius: 25px;
  width: 45px;
  height: 45px;
}
.userBtn a
{
  background: #9e9e9e42;
  border-radius: 25px;
  border: solid black 1px;
  width: 45px;
  height: 45px;
  
}
.userBtn img
{
  border-radius: 50%;
  width: 43px;
  height:43px; 
}


.search-group
{ 
  display: flex;  
}
.search-group input
{
  padding: 10px 86px;
  width: 256px;
  height: 36px;
  border-radius: 25px;
  border: #222222 solid 1px;
}
.search-group select
{
  background: #aaaaaa;
  /* width: 128px; */
  height: 32px;
  border-radius: 25px;
  transform: translate(102.5%, 6%);
  z-index: 0;
}
.search-group button
{
  background: #aaaaaa;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  transform: translate(-107.5%, 6%);
  border: none;
}
.search-group button:hover
{
  background: #dadada;
  box-shadow: #7e7e7e 0px 1px 5px;
}

.getStarted
{
  position: fixed;
  top: 127px;
  right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 8px;
}
.getStarted button
{ 
  padding: 8px 1px; 
  width: 150px;
  border: none;   
  border-radius: 25px;
  background: #333;
  color: #ccc;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}
.getStarted button:hover
{ 
  padding: 8px; 
  border: 2px solid #2c2c2c; 
  background: #aaaaaa;
  color: #222222;
  font-size: small;
  font-weight: 800;
  
}
.getStarted a
{   
  color: #0084ff;
  font-size: medium;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.getStarted a:hover
{ 
  color: #e20000;
  font-size: medium;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.socials-btn-group
{
  position: absolute;
  top: calc(0.4*50vw);
  right: 6.5%;
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 10px;
  gap:32px;
}
.socials-btn-group .horizontal
{
  display: flex;
  flex-direction: row;  
}
.socials-btn-group button
{
  background: #00a5bb77;

  padding: 10px;
  height: 60px;
  width: 60px;
  border: none;
  
  border-radius: 50%;
  font-size: 25px;
  box-shadow: #7a7a7aad 0px 0px 15px;
}
.socials-btn-group button:hover
{
  background: #b9b9b9;
  font-size: 24px;
  box-shadow: #7a7a7aad 0px 4px 15px;
}

.checkin-rectangle
{
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 60px;
  background: #22222200;
  transform: translate(0, -30px);
  gap: 10px;
}
.check-compare
{
  background: #D9D9D9;
  height: 100%;
  width:148px;
  font-weight: 600;
  text-align: center;
  padding-top: 0px;
  border-radius: 4px;
  
}
.check-compare input
{
  margin-top: 4px;
  width: 96%;
  height: 26px;  
  text-align: center;
  border: 1px solid grey;
  background: none;
}
.check-compare select
{
  width: 90%;
  height: 100%;
  text-align: center;
  font-weight: 600;
  border: none;
  background: none;
}
.check-compare button
{
  background-color: #3f3c35;
  color: rgb(248, 232, 202);
  font-weight: 700;
  font-size: 16px;
  border: none;
  height: 100%;
  width: 100%;
}
.check-compare button:hover
{
  color: #4d4d4d;
  background: wheat;
}

/* Global Styles */  
  .nav 
  {
    display: flex;
    list-style: none;
    margin: 0 16px;
    padding: 0;    
    
    justify-content: center;
    gap: 4vw
  }
  
  .nav-list
  {
    margin-top: 14px;
    display: flex;
    align-items: center;
  }
  
  .nav-item 
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* padding: 4px; */
    /* background: #a5a5a5; */
    /* height: 32px; */
    width: 100px;
    
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
  }

  .nav-item .signOut 
  {
    position: absolute;
    top:86px;

    display: none;
    color: antiquewhite;
  }
  
  .nav-item:hover .signOut
  {
    display: inline-block;
    background: #242424;
    padding: 2px 8px;
    border-radius: 25px;
  }
  
  
  .nav-link 
  {   
    color: #333;
    font-weight: 500;
    text-decoration: none;
  }
  
  .nav-link:hover 
  {
    color: #555555;
    font-weight: 600;
    
  }

  .nav-link span
  {
    text-align: start;
  }

  
  /* Form Styles */  
  .register-form, .login-form 
  {
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-title 
  {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-label 
  {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-input 
  {
    width: 100%;
    height: 40px;    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-button 
  {
    width: 100%;
    height: 40px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-button:hover 
  {
    background-color: #444;
  }
  
  .form-text 
  {
    text-align: center;
    margin-top: 20px;
  }
  
  .form-link 
  {
    background: #242424;
    padding: 4px 10px;
    color: #47a4f5;
    text-decoration: none;
    border-radius: 16px;
}
  
.form-link:hover 
{
  color: #23527c;
}
  
/* Dashboard Styles */  
.dashboard 
{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color:azure
}

.form-container
{
  max-width: 800px;
  background: #7e7e7e;

  padding: 10px;
  
}

.form-container form
{
  display: flex;
  flex-direction: column;
}
.form-container form .label
{
  display: flex;
  flex-direction: column;
}

.form-container
{
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Header Styles */

.form-container h4 
{
  margin-bottom: 1px;
  text-align: center;
}

/* Label and Input Styles */

label {
  display: block;
  margin-bottom: 1px;
}

label input[type="text"],
label input[type="number"] 
{
  width: 100%;
  height: 32px;
  margin-bottom: 4px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label input[type="text"]:focus,
label input[type="number"]:focus 
{
  border-color: #aaa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Button Styles */

button[type="submit"] 
{
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover 
{
  background-color: #3e8e41;
}

/* Error Message Styles */

.error-message 
{
  color: #f00;
  font-size: 12px;
  margin-bottom: 10px;
}
