#root {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* Global Styles */

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body 
{
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ecfeff;
}

.Hotel-App
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  max-width: 100%;
  /* height: 100%; */ 
}

.home-page
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  padding: 0;
  /* height: 100%; */
}

.showcase-container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1px;  
}
.showcase-container p
{
  width: 500px;
  font-size: 18px;
}
.showcase-h-group
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr; 
  padding: 10px;
}

hr
{
  width: 90%;
  border: 1px solid #a7a397cb;
  margin: 0 auto;
}

.showcase 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 800px;
  min-height: 400px;
  width: 60svw;
  height: 28svw;

  border-radius: 25px;

  background-image: url('./assets/valeriia.jpg');
  background-size: cover;
  background-position: 0px -100px;
  background-repeat:no-repeat;
}

.showcase button
{
  width: 16%;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  background: wheat;
  border: none;
  border-radius: 4px;
}

.showcase button:hover
{
  color: whitesmoke;
  background: rgb(151, 131, 97);
  padding: 12px;
}

.showcase .headline
{
  padding: 8%;
  font-size: 32px;
  font-weight: 800;
  color: white;
  text-shadow: #222222 0px 0px 16px; 

  width: 90%;

  font-family: "Inknut Antiqua", serif;

  font-style: normal;
  text-align: center;
}

.showcase p
{
  position: absolute;
  top:36%;
  left: 50%;
  color: whitesmoke;
  text-decoration: underline;
}

.showcase small
{ 
  text-decoration:overline;
  cursor:pointer;
}

.showcase small:hover
{ 
  text-decoration:wavy;
  color: #7ebfdd;
}


.amenities
{
  background-color: #d9d9d900;
  padding: 0px 16px;
  text-align: start;
}

.amenities ul
{
  display: flex;
  flex-direction: column;
  gap: 4px;
  
  margin-top: 10px;
  text-align: start;
  list-style: none;
  width: 250px;
}

.amenities li
{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  font-size: 12px;
  font-weight: 600;
  text-align: start;
  list-style: none;
  width: 90%;
  padding: 1px 4px;
  background: #7e7e7e17;
}

.amenities  i
{
  font-size: 14px;
  width: 32px;
}

.amenities h3
{
  margin-left: 16px;
}

.rooms-container
{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 25px;
  width: 100%;
  
}

.rooms-showcase
{
  display: flex;
  flex-direction: column;
  width: 98%;
  justify-self: center;
  margin-bottom: 16px;
}
.rooms-showcase-title
{
  font-size: 24px;
  text-align: start;
}
.rooms-showcase-title small
{  
  font-size: 12px;
  text-align: start;
  font-weight: 700;
}


.restaurant-showcase
{
  display: flex;
  flex-direction: column;
  width: 98%;
  justify-self: center;
  margin-bottom: 16px;
}

.grid-container
{
  background: #333;
  width: 100%;
  height: 100%;
}


.booking-modal
{
  position: absolute;
  top: 16%;  

  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  padding: 16px 0px;
  align-items: center;
  width: 90%;
  height: 80%;
  border-radius: 10px;
}
.booking-modal .room-details-block
{
  display: flex;
  flex-direction: column;
  align-items: center;

  border: #4d4d4d7e solid 1px;
  border-radius: 5px;
  /* justify-content: center; */
  padding: 8px;
  width: 80%;
  height: 20%;
  margin-bottom: 16px;
}
.booking-modal form
{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}

.booking-modal .grid-content
{
  height: 90%;
  width: 90%;
}

.booking-modal .booking-pay
{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.booking-modal .who-checking
{
  padding: 4px 8px;
  background: #ddd;
  border: 1px solid grey;
  text-align: start;
  border-radius: 5px;
}

.booking-modal .pay-method
{
  margin-top: 4px;
  padding: 4px 8px;
  background: #ddd;
  border: 1px solid grey;
  text-align: start;
  border-radius: 5px;
}
.booking-modal .pay-method#sec-code
{
  padding: 2px;
  width: 86px;
  text-align: center;
}

.who-checking input[type='text']
{
  padding: 2px;
  margin: 0px 4px 2px 0px;
  width: 124px;
}
.who-checking input#email
{
  padding: 2px;
  margin: 0px 4px 4px 0px;
  width: 200px;
}
.who-checking select
{
  width: 74px;
  margin-right: 2px;
  padding: 2px;
}
#sec-code
{
  padding: 2px;
  width: 86px;
  text-align: center;
}
