#root {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* Global Styles */

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body 
{
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ecfeff;
}

.Hotel-App
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  max-width: 100%;
  /* height: 100%; */
 
}

.HeaderContainer
{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 86px;
  background-color: #D9D9D9;
  color: #000000;
  margin: 0px;
  padding: 0.5rem 0rem 0.1rem 0rem;
  text-align: start;
  z-index: 10;
}

.HeaderTitle-Logo
{  
  margin: 0px 0px;
  padding: 0;
  width: 256px;
  height: 86px;
  background: url('./assets/logo.png');
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.HeaderTitle label
{
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.userBtn
{
  background-color: #c9c9c9;
  /* margin-right: 50%;
  margin-top: 10%; */
  border-radius: 25px;
}
.userBtn button
{
  background: #9e9e9e42;
  border-radius: 25px;
  border: solid black 1px;
  width: 45px;
  height: 45px;
}
.userBtn img
{
  border-radius: 50%;
  width: 43px;
  height:43px;
}

.home-page
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  padding: 0;
  /* height: 100%; */
}

.search-group
{ 
  display: flex;
  width: 40%;
  background: #afafaf05;
  margin: 0px;
  padding: 10px;
  transform: translateX(75%);
}
.search-group input
{
  padding: 10px 126px;
  width: 100%;
  border-radius: 25px;
  border: #222222 solid 1px;
}
.search-group select
{
  background: #aaaaaa;
  width: 16%;
  height: 32px;
  border-radius: 25px;
  transform: translate(102.5%, 8%);
  z-index: 0;
}
.search-group button
{
  background: #aaaaaa;
  width: 48px;
  height: 34px;
  border-radius: 50px;
  transform: translate(-104%, 4%);
  border: none;
}
.search-group button:hover
{
  background: #dadada;
  box-shadow: #7e7e7e 0px 1px 5px;
}

.getStarted
{
  position: fixed;
  top: 127px;
  right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.getStarted button
{ 
  padding: 8px 1px; 
  width: 150px;
  border: none;   
  border-radius: 25px;
  background: #333;
  color: #ccc;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.getStarted button:hover
{ 
  padding: 8px; 
  border: 2px solid #2c2c2c; 
  background: #aaaaaa;
  color: #222222;
  font-size: small;
  font-weight: 800;
  
}

.getStarted a
{   
  color: #0084ff;
  font-size: medium;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.getStarted a:hover
{ 
  color: #e20000;
  font-size: medium;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.socials-btn-group
{
  position: absolute;
  top: calc(0.45*50vw);
  right: 6.5%;
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 10px;
  gap:32px;
}

.socials-btn-group .horizontal
{
  display: flex;
  flex-direction: row;  
}

.socials-btn-group button
{
  background: #00a5bb77;

  padding: 10px;
  height: 64px;
  width: 64px;
  border: none;
  
  border-radius: 50%;
  font-size: 25px;
  box-shadow: #7a7a7aad 0px 0px 15px;

}

.socials-btn-group button:hover
{
  background: #b9b9b9;
  font-size: 24px;
  box-shadow: #7a7a7aad 0px 4px 15px;

}

.showcase-container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;  
}

.showcase-container h2
{
  font-size: 28px;

  font-family: "Inknut Antiqua", serif;
  font-weight: 500;
  font-style: normal;
/*   
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal; */
}

.showcase-container p
{
  width: 500px;
  font-size: 18px;
}
.showcase-h-group
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr; 
  padding: 10px;
}

hr
{
  width: 90%;
  border: 1px solid #a7a397cb;
  margin: 0 auto;
}

.showcase 
{
  min-width: 800px;
  min-height: 400px;
  width: 60svw;
  height: 28svw;

  border-radius: 25px;

  background-image: url('./assets/valeriia.jpg');
  background-size: cover;
  background-position: 0px -100px;
  background-repeat:no-repeat;
}

.showcase button
{
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  background: wheat;
  border: none;
  border-radius: 4px;
}

.showcase button:hover
{
  color: whitesmoke;
  background: rgb(151, 131, 97);
  padding: 12px;
}

.showcase .headline
{
  padding: 15%;
  font-size: 32px;
  font-weight: 800;
  color: white;
  text-shadow: #222222 0px 0px 16px; 
}

.amenities
{
  background-color: #d9d9d900;
  padding: 0px 16px;
  text-align: start;
}

.amenities ul
{
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: start;
  list-style: none;
  width: 250px;
}

.amenities li
{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  font-weight: 550;
  text-align: start;
  list-style: none;
  width: 90%;
  padding: 1px 4px;
  background: #7e7e7e17;
}

.amenities  i
{
  font-size: 18px;
  width: 32px;
}

.rooms-container
{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  
}

.rooms-showcase
{
  display: flex;
  flex-direction: column;
  width: 98%;
  justify-self: center;
  margin-bottom: 128px;
}
.rooms-showcase-title
{
  font-size: 24px;
  text-align: start;
}
.rooms-showcase-title small
{
  font-size: 12px;
  text-align: start;
  font-weight: 700;
}

.checkin-rectangle
{
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 60px;
  background: #22222200;
  transform: translate(0, -30px);
  gap: 10px;
}

.check-compare
{
  background: #D9D9D9;
  height: 100%;
  width: 98%;
  font-weight: 600;
  text-align: center;
  padding-top: 0px;
  
}

.check-compare input
{
  margin-top: 4px;
  width: 96%;
  height: 26px;  
  text-align: center;
  border: 1px solid grey;
  background: none;
}

.check-compare select
{
  width: 90%;
  height: 100%;
  text-align: center;
  font-weight: 600;
  border: none;
  background: none;
}

.check-compare button
{
  background-color: #3f3c35;
  color: rgb(248, 232, 202);
  font-weight: 700;
  font-size: 16px;
  border: none;
  height: 100%;
  width: 100%;
}

.check-compare button:hover
{
  color: #4d4d4d;
  background: wheat;
}

.grid-container
{
  background: #333;
  width: 100%;
  height: 100%;
}